In [1]:
from datetime import datetime
print(datetime.now())

2021-06-11 11:26:31.966314

In [2]:
from datetime import datetime
import random
from datetime import timedelta

min_year=1901
max_year=2021

start = datetime(min_year, 1, 1)
years = max_year - min_year+1
end = timedelta(days=365 * years)

random_date = [(start + (end) * random.random()).strftime("%b, %dth, %Y") for i in range(26)]
print(str(random_date))
#print(datetime.now())

['Aug, 25th, 1940', 'Jul, 07th, 2005', 'Nov, 04th, 1912', 'Jul, 06th, 1942', 'Dec, 31th, 2019', 'Nov, 03th, 1975', 'Nov, 30th, 1935', 'Aug, 22th, 1917', 'Jun, 16th, 1921', 'Sep, 27th, 1945', 'Nov, 14th, 1974', 'May, 06th, 2003', 'Jan, 26th, 1913', 'Nov, 07th, 1984', 'Apr, 02th, 1983', 'May, 27th, 2018', 'Jun, 25th, 1931', 'Sep, 25th, 1948', 'Apr, 04th, 1983', 'Dec, 23th, 2009', 'Feb, 05th, 1986', 'Feb, 08th, 1901', 'Sep, 01th, 1972', 'Sep, 18th, 2006', 'Mar, 21th, 1990', 'Mar, 03th, 1955']